#{extends 'main.html' /}

<script>

function changePassword()
{
	if($('#passwordRetry').val() != $('#password').val())	
		$('#passwordMatchError').show();
	else
		$('#passwordForm').submit();
}

</script>

 <div class="row-fluid"  style="margin-top: 20px;">
    <div class="span2">
      <!--Sidebar content-->
    </div>
    <div class="span10">
      <!--Body content-->
    
	
	<h3>Rest Password</h3>
	<p>Enter your new password.</p>	
		
		
	<form method="POST" action="@{Application.emailPasswordReset()}" id="passwordForm">
	
		<input type="hidden" name="token" id="token" value="${token}" />
	
		<p id="password-field">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" value="" />
		</p>
		<p id="password-retry-field">
			<label for="passwordRetry">Password (again)</label>
			<input type="password" name="passwordRetry" id="passwordRetry" value="" />
			<span id="passwordMatchError" style="color: red; display: none;" class="help-block"><strong>Passwords don't match.</strong></span>
		</p>
		<p id="signin-field">
			<a class="btn" onclick="changePassword();">Change</a>	
		</p>
	</form>
	</div>
</div>