#{extends 'main.html' /}

#{set page:'index' /}

<style>.alertdrop.select2-container .select2-results {max-height: 300px;}</style>

<script id="incident-view-popup-tpl" type="text/html">
<div>
	<h3><img src="/public/images/alert_icons/{{ type }}.png"> {{ title }}</h3>	
	<strong>Type:</strong> {{alertType type}}<br/>
	<strong>Description:</strong> {{publicDescription}}<br/>
	<strong>Active From:</strong> {{formatDate activeFrom }}<br/>
	<strong>Active To:</strong> {{formatDate activeTo }}<br/>
</div>
</script>


<div class="row-fluid" style="background-color: #fff;  position: relative;">

	<div id="map">
	</div>
	
	<div id="alertFilter" style="position: absolute; top:10px; right:10px; width:250px;">
		
	
	</div>	

	<div id="alertEditor" style="position: absolute; top:10px; left:50px; width:325px;">
		
	</div> 	
</div>

#{script "citom/alert-backbone.js"/}
#{script "citom/current-condition-map.js"/}
