#{extends 'main.html' /}

 <div class="row-fluid"  style="margin-top: 20px;">
    <div class="span2">
      <!--Sidebar content-->
    </div>
    <div class="span10">
      <!--Body content-->
    
	
	<h3>Rest Password</h3>
	<p>Enter your username to send password reset information by email.</p>	
		
		
		
	#{form @Application.resetPassword()}
		
		#{if username}
			#{if reset == false}
				<p class="error">
					Unable to reset password: username not found.					
				</p>
			#{/if}
			#{if reset == true}
				<p class="success">
					Email sent with reset instructions. 
				</p>
			#{/if}
		#{/if}
	
		<p id="username-field">
			<label for="username">Username</label>
			<input type="text" name="username" id="username" value="" />
		</p>
		<p id="signin-field">
			<input type="submit" id="signin" value="Reset" />
		</p>
	#{/form}
	</div>
</div>