#{extends 'main.html' /}

#{set page:'index' /}

<div id="map"></div>



<script src="@{'/public/javascripts/simulator/simulator.js'}"></script>


 

<script type="text/javascript">

    // Create a socket

    var socket = new WebSocket('ws://cebutraffic.org/ws')

 var simulatedPathStyle = {
    "color": "#ff7800",
    "weight": 2,
    "opacity": 0.65
};

 var tripLinePathStyle = {
    "color": "#00ff00",
    "weight": 3,
    "opacity": 0.65
};

 var streetEdgePathStyle = {
    "color": "#ffff00",
    "weight": 3,
    "opacity": 0.65
};

function bindPopup(feature, layer) {
	layer.bindPopup(feature.properties.description);
}


    // Message received on the socket

    socket.onmessage = function(event) {

        var data = JSON.parse(event.data);
        var geoJson = JSON.parse(data.geom);
        
      	if(data.type == "VehicleObservation") {
      	
      		var gj = L.geoJson(geoJson, { style: function (feature) {return {color: "#00f"}; }, pointToLayer : function (featureData, latlng) {
      			return L.circleMarker(latlng, {radius: 4});
      		}});
      		
      		geoJsonOverlay.addLayer(gj);
      	}
      	
      	if(data.type == "simulatePath") {
      	
      		var gj =L.geoJson(geoJson, {style: simulatedPathStyle});
      		
      		geoJsonOverlay.addLayer(gj);
      	}
      	
      	if(data.type == "tripLine") {
      	
      		var gj =L.geoJson(geoJson, {style: tripLinePathStyle});
      		
      		geoJsonOverlay.addLayer(gj);
      	}
      	
      	if(data.type == "streetEdge") {
      	
      		geoJson.properties = {description: data.message};
      		var gj = L.geoJson(geoJson, {style: streetEdgePathStyle, onEachFeature: bindPopup});
      		
      		geoJsonOverlay.addLayer(gj);
      	
      	}
    }

</script>