/* Leaflet controls */

.leaflet-control-draw {
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	}
.leaflet-control-draw {
	padding: 5px;
	background: rgba(0, 0, 0, 0.25);
	}
.leaflet-control-draw a {
	background-color: rgba(255, 255, 255, 0.75);
	}
.leaflet-control-draw a {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	}
.leaflet-control-draw a {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	width: 19px;
	height: 19px;
	margin-top: 5px;
	}
.leaflet-control-draw a:first-child{
	margin-top: 0px;
} 	
.leaflet-control-draw a:hover {
	background-color: #fff;
	}
.leaflet-touch .leaflet-control-draw a {
	width: 27px;
	height: 27px;
	}
.leaflet-control-draw-marker {
	background-image: url(draw-marker.png);
	}	
.leaflet-control-draw-polyline {
	background-image: url(draw-polyline.png);
	}
.leaflet-control-draw-polygon {
	background-image: url(draw-polygon.png);
	}
.leaflet-control-draw-rectangle {
	background-image: url(draw-rectangle.png);
	}		