#{extends 'main.html' /}

#{set page:'citom' /}

<script id="incidentSave" type="text/html">
<h3>Create Incident</h3><br/> 	
<select id="newIncidentType"><option value="incident">Traffic Incident</option><option value="flood">Flooding</option></select>
<textarea id="newIncidentDescription"></textarea><br/>
<button onclick="saveMarker();">Save</button> <button onclick="cancelMarker();">Cancel</button>
</script>

<script id="incident" type="text/html">
<p><strong>{{ description }}</strong><br/> ({{ timestamp }})</p>
<ul>
{{#messages}}
  <b>{{description}}</b><br/>
	 ({{ timestamp }})
 <hr/>
{{/messages}}
</ul>
<br/>

New message:
<textarea id="message{{ id }}"></textarea><br/>

<button onclick="saveMessage({{ id }});">Save Message</button> <button onclick="clearAlert({{ id }});">Clear Alert</button>
</script>


<div class="row-fluid" style="background-color: #fff;  position: relative;">



	<div id="map">
	</div>
	
	<div style="position: absolute; top:10px; right:10px; width:250px;">
		<div class="well well-small"><strong>Journey Estimate</strong> <span style="float: right;"><span id="saveButton"><a href="#" onclick="savePath();">Save</a> |</span> <a href="#" onclick="clearRoute();">Clear</a></span>
		
		<hr style="margin: 5px 0;">
		<span id="clickIntro">Click the map to add start/end points.</span>
		<span id="dragIntro">Drag points to change route.</span>
		<br/>
		<div style="float: right; margin-left: 10px;">
		<h2 id="journeyTime">--</h2>mins</div>
		
		<div style="float: left; margin-left: 10px;">
		<h2 id="journeyDistance">--</h2>km
		</div>
		
		<div style="margin-left: 90px;">
		<h2 id="avgSpeed">--</h2>km/h
		</div>
		
		<hr style="margin: 5px 0;">
		
		
		<span style="float: right;"><span id="compareObserverations">0</span> observations</span>	 
		<strong>Historical Data</strong>	
		
		
		
		<select id="compareSelect" style="margin-top: 10px;"><option value="ALL">All available dates</option><option value="CUSTOM">Custom date range</option></select> 
		
		<div id="compareDates">
			<input style="width: 150px;" placeholder="from (mm/dd/yyy)" type="text"id="compareFromDatePicker">
			<input style="width: 150px;" placeholder="to (mm/dd/yyy)" type="text"id="compareToDatePicker">
		</div> 
		
		<div>Days of week: <br/>
			<input type="checkbox" class="compareDays" id="compareMonday" checked/>M 
			<input type="checkbox" class="compareDays" id="compareTuesday" checked/>Tu 
			<input type="checkbox" class="compareDays" id="compareWednesday" checked/>W 
			<input type="checkbox" class="compareDays" id="compareThursday" checked/>Th 
			<input type="checkbox" class="compareDays" id="compareFriday" checked/>F 
			<input type="checkbox" class="compareDays" id="compareSaturday" checked/>Sa 
			<input type="checkbox" class="compareDays" id="compareSunday" checked/>Su
		</div>
		
		
		
		<div style="width: 190px; margin-top: 10px; margin-left: 5px;">Hour range: <span id="compareHourRange"></span>
				<div id="compareSlider"></div>
		</div>
		
		<span style="float: right; margin: 20px 0;"><span id="againstObserverations">0</span> observations</span>
		<p style="margin: 20px 0;"><input id="compareAgainst" type="checkbox"/> <strong>Compare</strong></p>
		
		<div id="comparisonView">
		
		<select id="againstSelect"><option value="ALL">All available dates</option><option value="CUSTOM">Custom date range</option></select> 
		 
			<div id="againstDates">
				<input style="width: 150px;" placeholder="from (mm/dd/yyy)" type="text"id="againstFromDatePicker">
				<input style="width: 150px;" placeholder="to (mm/dd/yyy)" type="text"id="againstToDatePicker">
			</div> 
			
			<div>Days of week: <br/>
				<input type="checkbox" class="againstDays" id="againstMonday" checked/>M 
				<input type="checkbox" class="againstDays" id="againstTuesday" checked/>Tu 
				<input type="checkbox" class="againstDays" id="againstWednesday" checked/>W 
				<input type="checkbox" class="againstDays" id="againstThursday" checked/>Th 
				<input type="checkbox" class="againstDays" id="againstFriday" checked/>F 
				<input type="checkbox" class="againstDays" id="againstSaturday" checked/>Sa 
				<input type="checkbox" class="againstDays" id="againstSunday" checked/>Su
			</div>
			
			
			
			<div style="width: 190px; margin-top: 10px; margin-left: 5px;">Hour range: <span id="againstHourRange"></span>
					<div id="againstSlider"></div>
			</div>
			
			 
			<br/>
			<div style="float: right; margin-left: 10px;">
			<h3 id="journeyTimeDelta">--</h2>mins</div>
		
			<div style="float: left; margin-left: 10px;">
			<h4 id="journeyDistance">Change:</h4>
			</div>
		
			<div style="margin-left: 100px;">
			<h3 id="avgSpeedDelta">--</h2>km/h
			</div>
		</div>
		<br/>
		<br/>
		<strong>Saved Journeys</strong> 
		
		
		#{list items:saveJourneys, as:'journey'}
				<hr style="margin: 5px 0;">
				${journey.name}<span style="float: right;"><a href="#" onclick="loadJourney(${journey.originLat}, ${journey.originLon}, ${journey.destinationLat}, ${journey.destinationLon});">View</a> | <a href="@{Citom.clearJourney(journey.id)}">Delete</a></span> <br/>
				<!-- <div style="float: right; margin-left: 10px;">
				<h3>${journey.time}</h3>mins</div>
				
				<div style="float: left; margin-left: 10px;">
				<h3>${journey.distance}</h3>km
				</div>
				
				<div style="margin-left: 100px;">
				<h3>${journey.speed}</h3>km/h
				</div> -->
		#{/list}
				
		<hr style="margin: 5px 0;">
		
		<br clear="all"/>
		
		
		</div>

	</div>
	
	
</div>	 

<div id="saveJourney" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="journeyModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id=""journeyModalLabel"">Save Journey</h3>
  </div>
  <div class="modal-body">
 
    	<form method="POST" id="journeySaveForm" action="@{Citom.saveJourney()}" class="form-horizontal">
	    	<input type="hidden" id="saveform_origin_lat" name="originLat" value=""/>
	    	<input type="hidden" id="saveform_origin_lon" name="originLon" value=""/>
	    	<input type="hidden" id="saveform_destination_lat" name="destinationLat" value=""/>
	    	<input type="hidden" id="saveform_destination_lon" name="destinationLon" value=""/>
	    	<input type="hidden" id="saveform_time" name="time" value=""/>
	    	<input type="hidden" id="saveform_distance" name="distance" value=""/>
	    	<input type="hidden" id="saveform_speed" name="speed" value=""/>
	    	<input type="hidden" id="saveform_path" name="path" value=""/>
    	
		  <div class="control-group">
		    <label class="control-label" for="name">Journey Name</label>
		    <div class="controls">
		      <input onchange="validateCreateUser();" type="text" id="saveform_name" name="name" placeholder="Journey Name"/>
		    </div>
		  </div>
		</form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="saveJourneyButton"  class="btn btn-primary">Save</button>
  </div>
</div>

<script src="@{'/public/javascripts/jquery-ui.js'}"></script>
<script src="@{'/public/bootstrap/js/bootstrap-datepicker.js'}"></script>
<script src="@{'/public/javascripts/cebu_journey.js'}"></script>